ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #204b20;
    position: relative;

  }
  
  li {
    float: left;
    padding-right: 5px;
  }

  ri{
    float:right;
  }

  ri a{
    display: block;
    color: white;
    border-radius: 25px;
    position: relative;
    top:15px;
    right:5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
ri a:hover:not(.active) {
    background-color: #e50000;
}


    li img{
        height: 70px;
        width: 70px;
        padding: 4px 4px 4px 4px;
    }

  li a {
    display: block;
    color: white;
    text-align: center;
    position: relative;
    top: 15px;
    left: 5px;
    right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding: 14px 14px;
    text-decoration: none;
    border-radius: 25px;
  }
  
  li a:hover:not(.active) {
    background-color: #3c6e3c;
  }
  
  .active {
    background-color: #3c6e3c;
  }
  